CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile
install_manifest.txt

.idea/

build/
Debug/
Release/

cmake-build-debug/
cmake-build-Release/

*.o
*.obj
!models/*.obj

*.out
*.exe

*.log

*.spv

shaders.h

.vscode/

*.tmp
*.bak

*.d
